<%= link_to("<< Back to List", {:action => 'index'} , :class => 'back-to-link') %>

<div class= "admins new">
<h2>Create Admin</h2>

<%= form_for(:admin, :url => {:action => 'create'}) do |f| %>
	<%= error_messages_for(@admin) %>
	<table summary="Admin form fields">
	<tr>
		<th>E-Mail</th>
		<td><%= f.text_field(:email) %></td>
	</tr>
	
		<tr>
		<th>Name</th>
		<td><%= f.text_field(:name) %></td>
	</tr>

		<tr>
		<th>Password</th>
		<td><%= f.password_field(:password) %></td>
	</tr>
	<tr>
		<th>Confirm Password</th>
		<td><%= f.password_field :password_confirmation %></td>
	</tr>
</table>

<div class="form-buttons">

<%= submit_tag("Create Admin") %>

</div>

<% end %>
</div>



