<% if !flash[:notice].blank? %>
	<div class = "notice">
	<%= flash[:notice] %>
	</div>
<% end %>

<h1>Administrator Login</h1>

<%= link_to("<< Homepage", {:controller => 'default',:action => 'login'} , :class => 'back-to-link') %>

<% @page_title = "Admin Login" %>

<div class="login">
  <%= form_tag(:action => 'attempt_login') do %>
  <table>
    <tr>
      <td><%= label_tag(:email) %></td>
      <td><%= text_field_tag(:email) %></td>
    </tr>
    <tr>
      <td><%= label_tag(:password) %></td>
      <td><%= password_field_tag(:password) %></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><%= submit_tag("Log In") %></td>
    </tr>
  </table>
  <% end %>
</div>
